<template name="ApplicationLayout">
     <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            {{> loginButtons align=right}}
        </ul>
      </div>
    </nav>
  </div>
    {{> yield}}
    
</template>