<template name="home">


    <form class="new-message">
        <div class="input-field">
            <input type="text" placeholder="Add A New Task" />
        </div>
        <div class="center-button">
            <button class="waves-effect waves-light btn">Submit</button>
        </div>
    </form>

<ul class="collection">
    {{#each listPost}}
    <li>
    {{this.name}}
    </li>
    <br>
        <span>{{this.createdAt}}</span>
    {{/each}}
    </ul>
</template>